html
    head
        title= title
        link(rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body
        h1= message
        table.table.table-bordered.table-striped
            tr
                th Пользователь
                th Комменты
            for user in users
                tr
                    th=user.name
                    td
                        ul
                        for post in user.posts
                            li=post.content
